h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

.title {
    margin: 0;
}

.searchform {
    margin-top: 1rem;
}

#blog-title {
    font-family: "Times New Roman", Times, serif;
}

img.thumbnail {
    magin: 1rem;
    border: 3px outset grey;
}

a img.thumbnail {
    margin: 1rem;
    border: 3px outset #1E9EBB;
}

div.pager {
    border-top: 3px double grey;
}

div.pager .button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#page-footer {
    padding-top: 0.25rem;
    border-top: 3px double grey;
}

#page-footer p {
    margin: 0.5rem 0 0.5rem 0;
}

.taglist li {
    display: inline;
}

.postindex article {
    margin-top: 1rem;
    border-bottom: 2px solid #A3A3A3;
}

.postindex article:last-child {
    border-bottom: none;
}

pre.literal-block {
    background: #f8f8f8;
}

/* listings */
.linenos .linenodiv a {
    text-decoration: none !important;
}

/* slides carousel */
.carousel-indicators, .carousel-control {
    display: none;
}

.carousel-inner {
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
}

.carousel-inner div {
    display: inline;
}

/* footnotes */
.footnote-reference {
    top: -0.5em;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

table.footnote {
    margin-top: 0;
    margin-bottom: 0;
}

.footnote td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.footnote td.label {
    border-top: 3px solid black;
}

/* code listing tweaks */
table.codetable {
    border: 1px solid grey;
}

.codetable td {
    padding: 0.25em;
    border: 1px solid grey;
}

.codetable pre {
    margin: 0;
    line-height: 1.25em;
}

/* breadcrumbs */
.breadcrumb li {
    display: inline;
}

.breadcrumb li:before {
    content: " > ";
}

.breadcrumb li:first-child:before {
    content: none;
}

/* time entries */
time {
    font-size: 75%;
    font-style: italic;
}
time:before {
    content: "(";
}
time:after {
    content: ")";
}

/* metadata headers */
header .metadata {
    margin-top: -1.5rem;
    margin-left: 2.5rem;
    margin-bottom: 2.5rem;
}

.metadata p {
    display: inline;
}

.metadata p::before {
    content: " -- ";
}

.metadata p:first-child:before {
    content: none;
}

.metadata .sourceline:before {
    content: "(";
}

.metadata .sourceline:after {
    content: ")";
}

/* reST list tweaks */
ol.simple, ul.simple, ol.arabic, ol.loweralpha, ol.upperalpha, ol.lowerroman, ol.upperroman {
  list-style-position: inside;
  padding-left: 1rem;
}
