h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

.title {
    margin: 0;
}

#blog-title {
    font-family: "Times New Roman", Times, serif;
}

/* code listing tweaks */
table.codetable {
    border: 1px solid grey;
}

.codetable td {
    padding: 0.25em;
    border: 1px solid grey;
}

.codetable pre {
    margin: 0;
    line-height: 1.25em;
}

/* breadcrumbs */
.breadcrumb li {
    display: inline;
}

.breadcrumb li:before {
    content: " > ";
}

.breadcrumb li:first-child:before {
    content: none;
}
