# generated content
static/
app.yaml

# Nikola caching
.doit.db
.doit.db.db
cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environment specific files
.python-version

# OSX Attributes
.DS_Store

# aspell backups
*.bak
