## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="ui" file="crumbs.tmpl" import="bar"/>
<%block name="sourcelink"></%block>

<%block name="content">
    ${ui.bar(crumbs)}
    %if title:
    <h1>${title|h}</h1>
    %endif
    %if post:
    <p>
        ${post.text()}
    </p>
    %endif
    %if folders:
    <ul>
    % for folder, ftitle in folders:
        <li><a href="${folder}"><i
        class="fa fa-folder-open"></i>&nbsp;${ftitle|h}</a></li>
    % endfor
    </ul>
    %endif
    %if photo_array:
        %for i, image in enumerate(photo_array):
            %if i % 3 == 0:
            <div class="row">
            %endif
                <div class="four columns">
                    <a class="reference external image-reference" href="${image['url']}" title="${image['title']}">
                        <img class="u-max-full-width thumbnail" src="${image['url_thumb']}" alt="${image['title']|h}" />
                    </a>
                </div>
            %if i % 3 == 2:
            </div>
            %endif
        %endfor
        %if i % 3 != 2:
            </div>
        %endif
    %endif
%if site_has_comments and enable_comments:
    ${comments.comment_form(None, permalink, title)}
%endif
</%block>

<%block name="extra_head">
${parent.extra_head()}
<link rel="alternate" type="application/rss+xml" title="RSS" href="rss.xml">
</%block>
