## -*- coding: utf-8 -*-
<%def name="html_pager()">
    %if prevlink or nextlink:
        <nav class="postindexpager">
        %if prevlink or nextlink:
        <div class="row pager">
        %if prevlink:
            <a class="button u-pull-left" href="${prevlink}" rel="prev">${messages("Newer posts")}</a>
        %endif
        %if nextlink:
            <a class="button u-pull-right" href="${nextlink}" rel="next">${messages("Older posts")}</a>
        %endif
        </div>
        %endif
        </nav>
    %endif
</%def>
