/*
 * main.css - main style sheet for my homepage
 * (c)2003 George Waksman
 */

html, body
{
	background-color: White;
	color: Black;
	font-family: Times, "Times New Roman", Serif, Sans-Serif;
	font-size: small;
}

.hide
{
	visibility: hidden;
	background: White;
	color: White;
	clear: both;
	margin: 0;
}

div h2
{
	background: #606060;
	color: #DDDDDD;
	border: none;
	width: 100%;
	font-weight: bold;
	font-size: medium;
	text-indent: 0.5em;
	margin-top: 0;
	margin-bottom:0;
	padding: 0.1em 0;
}

div.bubble
{
	background: #DDDDDD;
	color: #606060;
	border: 1px solid Black;
	margin: 3px;
}

div p, div ul, div ol
{
	margin-right: 1em;
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	background: #DDDDDD;
	color: #606060;
	font-size: medium;
	font-weight: normal;
	padding: 0;
	text-indent: 0;
}


div li
{
	margin-left: 1.5em;
}

li ul
{
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 1em;
}

div a:link		{color:#000000; text-decoration:underline; background-color:Transparent;}
div a:visited	{color:#101010; text-decoration:underline; background-color:Transparent;}
div a:hover		{color:#DDDDDD; text-decoration:none; background-color:#606060; border-width: 2px; border-color: Black; border-style: outset}
div a:active	{color:#202020; text-decoration:underline; background-color:Transparent;}

a:link		{color:Blue; text-decoration:underline; background-color:Transparent;}
a:visited	{color:Teal; text-decoration:underline; background-color:Transparent;}
a:hover		{color:Navy; text-decoration:underline; background-color:#bbb;}
a:active	{color:Aqua; text-decoration:underline; background-color:Transparent;}

img			{border-style:none}

em			{font-weight:bold; font-style: normal; color: Black}
em.i			{font-style: italic;}
sup			{vertical-align:super}
cite		{text-decoration:underline; font-style:normal}
cite.i		{font-style:italic}

p			{text-align:justify}
p + p		{text-indent:3ex}
div p		{margin-bottom: 0.5ex}
div p+p		{margin-top:0; margin-bottom:0}

.indent		{text-indent:3ex}
.noindent	{text-indent:0; margin-top:1em; margin-bottom:1em}

body
{
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 2%;
	margin-right: 2%;
}
