## -*- coding: utf-8 -*-
<%namespace name="feeds_translations" file="feeds_translations_helper.tmpl" import="*"/>

<%def name="html_headstart()">
<!DOCTYPE html>
<html \
    prefix='\
        og: http://ogp.me/ns# article: http://ogp.me/ns/article# \
        %if comment_system == 'facebook':
            fb: http://ogp.me/ns/fb# \
        %endif
    ' \
    vocab="http://ogp.me/ns" \
% if is_rtl:
    dir="rtl" \
% endif
\
lang="${lang}">
<head>
    <meta charset="utf-8">
    %if description:
        <meta name="description" content="${description|h}">
    %endif
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %if title == blog_title:
        <title>${blog_title|h}</title>
    %else:
        <title>${title|h} | ${blog_title|h}</title>
    %endif

    ${html_stylesheets()}
    <meta name="theme-color" content="#304FE1">
    % if meta_generator_tag:
        <meta name="generator" content="Nikola (getnikola.com)">
    % endif
    ${feeds_translations.head(classification=None, kind='index', other=False)}
    <link rel="canonical" href="${abs_link(permalink)}">

    %if favicons:
        %for name, file, size in favicons:
            <link rel="${name}" href="${file}" sizes="${size}"/>
        %endfor
    %endif

    % if comment_system == 'facebook':
        <meta property="fb:app_id" content="${comment_system_id}">
    % endif

    %if prevlink:
        <link rel="prev" href="${prevlink}" type="text/html">
    %endif
    %if nextlink:
        <link rel="next" href="${nextlink}" type="text/html">
    %endif

    %if use_cdn:
        <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
    %else:
        <!--[if lt IE 9]><script src="${url_replacer(permalink, '/assets/js/html5shiv-printshiv.min.js', lang, url_type)}"></script><![endif]-->
    %endif

    ${extra_head_data}
</%def>

<%def name="late_load_js()">
    % if use_bundles:
        % if use_cdn:
            <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js" integrity="sha512-7KzSt4AJ9bLchXCRllnyYUDjfhO2IFEWSa+a5/3kPGQbr+swRTorHQfyADAhSlVHCs1bpFdB1447ZRzFyiiXsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js" integrity="sha512-v/wOVTkoU7mXEJC3hXnw9AA6v32qzpknvuUF6J2Lbkasxaxn2nYcl+HGB7fr/kChGfCqubVr1n2sq1UFu3Gh1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="/assets/js/all-cdn.js"></script>
        % else:
            <script src="/assets/js/all-nocdn.js"></script>
        % endif
    % else:
        % if use_cdn:
            <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js" integrity="sha512-7KzSt4AJ9bLchXCRllnyYUDjfhO2IFEWSa+a5/3kPGQbr+swRTorHQfyADAhSlVHCs1bpFdB1447ZRzFyiiXsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js" integrity="sha512-v/wOVTkoU7mXEJC3hXnw9AA6v32qzpknvuUF6J2Lbkasxaxn2nYcl+HGB7fr/kChGfCqubVr1n2sq1UFu3Gh1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        % else:
            <script src="/assets/js/baguetteBox.min.js"></script>
            <script src="/assets/js/webfontloader.js"></script>
        % endif
        % if date_fanciness != 0:
            <script src="/assets/js/fancydates.js"></script>
        % endif
        <script src="/assets/js/theme.js"></script>
    % endif
    ${social_buttons_code}
</%def>

<%def name="html_stylesheets()">
    % if use_bundles:
        % if use_cdn:
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.css" integrity="sha512-3eoKq7cU6gdVeT+6eL40YcJLD8dxzQmOK54qxUWVjg7H4NN3u5AA5k5ywrqLV15hOZDBBgdQH/GK5CA9MwDVwg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link href="/assets/css/all-cdn.css" rel="stylesheet" type="text/css">
        % else:
            <link href="/assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
        %endif
    % else:
        % if use_cdn:
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.css" integrity="sha512-3eoKq7cU6gdVeT+6eL40YcJLD8dxzQmOK54qxUWVjg7H4NN3u5AA5k5ywrqLV15hOZDBBgdQH/GK5CA9MwDVwg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        % else:
            <link rel="stylesheet" href="/assets/css/baguetteBox.min.css" type="text/css">
            <link rel="stylesheet" href="/assets/css/normalize.min.css" type="text/css">
            <link rel="stylesheet" href="/assets/css/skeleton.min.css" type="text/css">
        % endif
        <link href="/assets/css/rst_base.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/theme.css" rel="stylesheet" type="text/css">
        %if has_custom_css:
            <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
        %endif
    %endif
    % if needs_ipython_css:
        <link href="/assets/css/ipython.min.css" rel="stylesheet" type="text/css">
    % endif
</%def>

### This function is deprecated; use feed_helper directly.
<%def name="html_feedlinks()">
    ${feeds_translations.head(classification=None, kind='index', other=False)}
</%def>

<%def name="html_translations()">
    <ul class="translations">
    %for langname in sorted(translations):
        %if langname != lang:
            <li><a href="${_link("root", None, langname)}" rel="alternate" hreflang="${langname}">${messages("LANGUAGE", langname)}</a></li>
        %endif
    %endfor
    </ul>
</%def>
