
<%def name="css()">
    <link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.2.5/annotator.min.css">
</%def>

<%def name="head()">
    % if annotations and post and not post.meta('noannotations'):
        ${css()}
    % elif not annotations and post and post.meta('annotations'):
        ${css()}
    % endif
</%def>

<%def name="code()">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="http://assets.annotateit.org/annotator/v1.2.5/annotator-full.min.js"></script>
    <script>
    jQuery(function ($) {
        $('#content').annotator()
                     .annotator('setupPlugins');
    });
    </script>
</%def>

<%def name="body_end()">
    % if annotations and post and not post.meta('noannotations'):
        ${code()}
    % elif not annotations and post and post.meta('annotations'):
        ${code()}
    % endif
</%def>
