.pure-menu {
    border-bottom: 1px solid black;
}

.pure-menu-heading {
    border-right: 1px solid black;
}

.pure-menu-children {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

main {
    padding: 0 2em;
}

.img-thumbnail {
    border: 1px dashed #606060;
    padding: 0.5em;
}
